.swiper {
  width: 100%;
  height: 100%;
}
.swiper-pagination {
  display: none !important;
}
 
.swiper-button-next:hover {
  background-color: #ffffff;
}
.swiper-button-next::after {
  content: "" !important;
}
 
.swiper-button-prev:hover {
  background-color: #ffffff;
}

.swiper-button-prev::after {
  content: "" !important;
}
 
.swiper-item:hover .player-icon{
  visibility: visible;
  transition: all 0.2s ease-in;
}

.swiper-item:hover .img-slide{
  filter: hue-rotate(35deg);
 
}

@layer utilities {
  .shadow-inner-bottom {
     box-shadow: inset 0px -60px 15px -10px rgba(0, 0, 0, 0.6);
  }
}