.swiper {
  width: 100%;
  height: 100%;
}
.swiper-pagination {
  display: none !important;
}
.swiper-button-next{
  width: 40px !important;
  height: 80px !important;
  opacity: 0.7 !important;
  margin-left: -8px !important;
  margin-top: -72px !important;
}
.swiper-button-prev{
  width: 40px !important;
  height: 80px !important;
  opacity: 0.7 !important;
  margin-right: -8px !important;
  margin-right: -8px !important;
  margin-top: -72px !important;
}
.pod{
  margin-top: -42px !important;
  
}
.button-margin{
  margin-top: -42px !important;
}
.swiper-button-next:hover {
  background-color: #ffffff;
}
.swiper-button-next::after {
  content: "" !important;
}

.swiper-button-prev:hover {
  background-color: #ffffff;
}

.swiper-button-prev::after {
  content: "" !important;
}

.swiper-item:hover .player-icon {
  visibility: visible;
  transition: all 0.2s ease-in;
}

.swiper-item:hover .img-slide {
  filter: hue-rotate(35deg);
}

.bg-dark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: 0.2;
}

.shadow-inner-bottom {
  box-shadow: inset 0px -45px 15px -10px rgba(0, 0, 0, 0.7);
}